#app{
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  display: flex;
}
.map{
  width: 100%;
  height: 100%;
}

/* 搜索框样式 */
.searchShowBox{
  position: fixed;
  top: 0.26rem;
  left: 50%;
  margin-left: -4.68rem;
  width: 9.36rem;
  display: flex;
  line-height: 0.74rem;
  height:0.74rem ;
  padding: 0.16rem 0;
  background: #fff;

  border-radius: 0.2rem;
  border:0.01rem solid #ddd;
  box-shadow: 0 0 1rem #ddd;
  text-align: center;

  font-size: 0.37rem;
}
.searchShow{
  display: block;
  width: 8.3rem;
}
.searchIcon{
  width: 1.04rem;
  border-left: 0.02rem solid #ddd;
  font-size: 0.37rem;
}
.searchIcon i{
  font-size: 0.37rem;
}

/* 图标样式 */
.mapBtnBox{
  display: flex;
  align-items:center;
  justify-content:center;
  width:1.2rem;
  height:1.2rem;
  background: #fff;
  border: 0.015rem solid #ddd;
}
.mapBtnBox.active{
  color:#74b113;
  border-color: #74b113;
}
.mapBtnBox:first-child{
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
.mapBtnBox:last-child{
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.mapBtn{
  display: block;
  text-align: center;
  font-size: 0.3rem;
}
.mapBtn i{
  font-size: 0.5rem;
}


/* 地图样式按钮 */
.mapClass{
  position: fixed;
  bottom:4.2rem;
  left: 0.57rem;
}
.mapClassList{
  height: 7.3rem;
  overflow: hidden;

}
.mapClassList .mapBtnBox:last-child{
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* 地图样式的过渡动画 */
.draw-enter-active, .draw-leave-active {
  transition: all 1s ease;
}
.draw-enter, .draw-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0rem;
}



/* 图鉴列表样式 */
.IllustratedList{
  position: fixed;
  bottom:1.06rem;
  left: 0.57rem;
}

/* 定位列表样式 */
.positionList{
  position: fixed;
  right:  0.57rem;
  bottom: 1.06rem;
}
